$bodyBg:#EDF1F6;
$headerColor: #1D84EF;
$white: #ffffff;
$sideWidth: 200px;
$fc1: #232323;
$fc2: #fff;
$fc3: #000;
$w56: 56px;

$l_menu_w:  135px;

$br4: 4px;

$main_c1: #1D84EF;
$main_c2: #818FB4;
$main_c3: #092266;
