/*登录*/
.login-page {
  background: url("./images/bg1@2x.png") no-repeat;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  position: relative;
  width: 100%;
}

.page-posi {
  position: absolute;
  width: 6.33rem;
  height: 7.42rem;
  background: #FFFFFF;
  border-radius: 4px;
  right: 0.74rem;
  top: 50%;
  transform: translateY(-50%);
  .p_title {
    text-align: center;
    position: relative;
    .line {
      display: inline-block;
      width: 1rem;
      height: 0.03rem;
      vertical-align: middle;
      background: linear-gradient(90deg, rgba(29, 132, 239, 0) 0%, #1D84EF 100%);
    }
    .line1{
      background: linear-gradient(90deg, #1D84EF 0%,   rgba(29, 132, 239, 0) 100%);
    }
  }
  h2 {
    font-size: 0.34rem;
    font-family: Microsoft YaHei;
    font-weight: 300;
    line-height: 0.43rem;
    color: #1D84EF;
    letter-spacing: 0.08rem;
    display: inline-block;
    padding-left: 0.18rem;
  }
  .login-vision {
    background: url("./images/title@2x.png") no-repeat;
    background-size: 100% 100%;
    width: 3.02rem;
    height: 0.57rem;
    margin: 1.3rem auto 0.24rem;
  }
}

.login .login-content .form-group::before {
  display: block;
  width: 0.18rem;
  height: 0.24rem;
  position: absolute;
  content: '';
  left: 0.12rem;
  top: 0.14rem;
}
.login .login-content .ibg1::before {
  background:url(./images/shouji@2x.png) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.login .login-content .ibg2::before {
  background:url(./images/mima@2x.png) no-repeat ;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}



.login-content {
  text-align: center;
  margin-top: 1rem;
}
.login .login-content .form-group {
  position: relative;
  width: 4.83rem;
  margin: 0 auto 0.32rem;
}
.login .login-content .form-group input {
  width: 100%;
  height: 0.52rem;
  background: #FFFFFF;
  border: 1px solid #1D84EF;
  opacity: 1;
  border-radius: 4px;
  outline: none;
  color: #000000;
  text-indent: 0.5rem;

}

.login-buttons .btn-success {
  text-align: center;
  border: none;
  margin-top: 0.6rem;
  outline: none;
  width: 4.83rem;
  height: 0.52rem;
  background: #1D84EF;
  box-shadow: 0px 3px 8px rgba(29, 131, 237, 0.25);
  border-radius: 4px;
  color: #ffffff;
}

//::-webkit-input-placeholder { /* WebKit, Blink, Edge */
//  color: rgba(255, 255, 255, 0.6);
//}
//:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
//  color: rgba(255, 255, 255, 0.6);
//}
//::-moz-placeholder { /* Mozilla Firefox 19+ */
//  color: rgba(255, 255, 255, 0.6);
//}
//:-ms-input-placeholder { /* Internet Explorer 10-11 */
//  color: rgba(255, 255, 255, 0.6);
//}
//input:-webkit-autofill{
//  -webkit-box-shadow:0 0 0px 10rem #708cb5 inset;
//  -webkit-text-fill-color: #fff;
//}
//
//input:-internal-autofill-selected {
//  background-color: transparent;
//}
